In [1]:
import sqlite3
from sqlite3 import Error

print("import done")

import done

In [3]:
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)

    return conn

print( 'function loaded')

function loaded

In [4]:
def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
        print("table created")
    except Error as e:
        print(e)

print( 'function loaded')

function loaded

In [5]:
def create_project(conn, project):
    """
    Create a new project into the projects table
    :param conn:
    :param project:
    :return: project id
    """
    sql = ''' INSERT INTO projects(name,begin_date,end_date)
              VALUES(?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, project)
    cur.execute('select * from projects')
    a=0
    while a!=None:
        a=cur.fetchone()
        print(a)

print( 'function loaded')

function loaded

In [12]:
database = r"data1.db"

sql_create_projects_table = """ CREATE TABLE IF NOT EXISTS projects (
                                        id integer PRIMARY KEY UNIQUE,
                                        name text NOT NULL UNIQUE,
                                        begin_date text,
                                        end_date text 
                                    ); """

# create a database connection
conn = create_connection(database)
project = ( 'check3', 28, 25)

# create tables
with conn:
    # create projects table
    create_table(conn, sql_create_projects_table)
    create_project(conn,project)

table created
(1, 'check', '23', '25')
(2, 'check2', '28', '25')
(3, 'check3', '28', '25')
None